extends layout

block content
  h1= title
  p This time not only YOU are responsible for your actions, so just do your bit by staying home.

 img.image(src='/https://image.shutterstock.com/image-photo/dice-form-expression-stay-home-260nw-1676267707.jpg')
 img.className#IdName(src="/" alt="Image Title")