extends layout

block content
  h1= title
  p This time not only YOU are responsible for your actions, so just do your bit by staying home.
  div V_R_S can be prevented by I and U following social distancing. 
  div Stay safe.
 img(src="/https://image.shutterstock.com/image-photo/dice-form-expression-stay-home-260nw-1676267707.jpg")
  