extends layout

block content
  h1= title
  p This time not only YOU are responsible for your actions, so just do your bit by staying home.

img: https://www.bocaratontribune.com/wp-content/uploads/2020/03/stock-photo-stay-home-stay-safe-quote-vector-illustration-coronavirus-covid19-awareness-66952.jpg