body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
body {
  display: block;
  margin: 8px;
}
title {
  color: #124646
}
div {
  color: #752475b2
}